<div class="register-container">
  <div class="instructions-container col-lg-4 pull-left">
    <img class="register-icon" src="../../assets/signup-icon.png" alt="sign up for registration"/>
    <span>
      <h2>Voter Registration</h2>
      <p>This form is required for registering to vote online through the DIVA service. Please fill out all fields.</p>

      <h5>Public Information</h5>
      <p>Your name, address, gender, and date of birth will be public information.</p>

      <h5>Notice</h5>
      <p>Knowingly providing false information about yourself or your qualifications is a class C felony punishable by imprisonment for up to 5 years, a fine up to $10,000, or both. </p>

      <h5>Contact Information</h5>
      <p>If you would like help with this form, contact the DIVA Team.</p>
      <p>Web....</p>
    </span>
  </div>

  <form class="form-container col-lg-8 pull-right"
  #userForm="ngForm" (ngSubmit)="onSubmit()">
    <h5 class="divider">1. Name Information</h5>
    <div class="names-container row">
      <div class="form-group col-lg-4"> <!-- Full Name -->
        <label for="first_name_id" class="control-label">First Name</label>
        <input type="text" class="form-control" id="first_name_id" #firstName="ngModel" name="first_name"
        placeholder="Harry" [(ngModel)]="user.firstName" required minlength="2" maxlength="25">
        <!-- Error Handling -->
        <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" class="alert alert-danger">
         <div [hidden]="!firstName.errors.required">
           First Name is required!
         </div>
         <div [hidden]="!firstName.errors.minlength">
           First Name must be at least 2 characters long.
         </div>
         <div [hidden]="!firstName.errors.maxlength">
           First Name cannot be more than 25 characters long.
         </div>
       </div>
     </div>


      <div class="form-group col-lg-3"> <!-- Middle Name -->
        <label for="middle_name_id" class="control-label">Middle Name</label>
        <input type="text" class="form-control" id="middle_name_id" name="middle_name"
        placeholder="James"[(ngModel)]="user.middleName">
      </div>

      <div class="form-group col-lg-4"> <!-- Last Name -->
        <label for="last_name_id" class="control-label">Last Name</label>
        <input type="text" class="form-control" id="last_name_id" #lastName="ngModel" name="last_name"
        placeholder="Potter" [(ngModel)]="user.lastName" required minlength="2" maxlength="25">
        <!-- Error Handling -->
        <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)" class="alert alert-danger">
         <div [hidden]="!lastName.errors.required">
           Last Name is required!
         </div>
         <div [hidden]="!lastName.errors.minlength">
           Last Name must be at least 2 characters long.
         </div>
         <div [hidden]="!lastName.errors.maxlength">
           Last Name cannot be more than 25 characters long.
         </div>
       </div>
      </div>

      <div class="form-group col-lg-1"> <!-- Suffix Button -->
        <label for="suffix_id" class="control-label">Suffix</label>
        <select class="form-control" id="suffix_id" name="suffix" [(ngModel)]="user.suffix">
          <option value="JR">Jr.</option>
          <option value="SR">Sr.</option>
          <option value="2N">I</option>
          <option value="2N">II</option>
          <option value="3N">III</option>
        </select>
      </div>
    </div>

    <h5 class="divider">2. Additional Information</h5>
    <div class="additonalInfo-container row">
      <div class="form-group col-lg-5"> <!-- Telephone -->
        <label for="telephone_id" class="control-label">Telephone #</label>
        <input type="text" class="form-control" id="telephone_id" #telephone="ngModel" name="telephone"
        placeholder="5551234009" [(ngModel)]="user.telephoneNum" (keypress)="numbersOnly($event)"
        required minlength="10" maxlength="10">
        <!-- Error Handling -->
        <div *ngIf="telephone.errors && (telephone.dirty || telephone.touched)" class="alert alert-danger">
         <div [hidden]="!telephone.errors.required">
           Phone Number is required!
         </div>
         <div [hidden]="!telephone.errors.minlength">
          Phone Number must be 10 characters long.
         </div>
       </div>
      </div>

      <div class="form-group col-lg-2"> <!-- Gender Button -->
        <label for="gender_id" class="control-label">Gender</label>
        <select class="form-control" id="gender_id" #gender="ngModel"
        name="gender" [(ngModel)]="user.gender" required>
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="NA">Prefer Not To Answer</option>
        </select>
        <!-- Error Handling -->
        <div *ngIf="gender.errors && (gender.dirty || gender.touched)" class="alert alert-danger">
         <div [hidden]="!gender.errors.required">
           Gender is required!
         </div>
       </div>
      </div>

      <div class="form-group col-lg-4"> <!-- DOB -->
        <label for="DOB_id" class="control-label">Date of Birth</label>
        <input type="text" class="form-control" id="DOB_id" name="DOB" #dob="ngModel"
        (keypress)="numbersOnly($event)" placeholder="01011990" [(ngModel)]="user.dateOfBirth"
        required minlength="8" maxlength="8">

      <!-- Error Handling -->
      <div *ngIf="dob.errors && (dob.dirty || dob.touched)" class="alert alert-danger">
       <div [hidden]="!dob.errors.required">
         DOB is required!
       </div>
       <div [hidden]="!dob.errors.minlength">
         DOB must be 8 characters long.
       </div>
      </div>
     </div>
    </div>

    <h5 class="divider">3. Residential Information</h5>
    <div class="form-group"> <!-- Residence Street 1 -->
      <label for="resStreet1_id" class="control-label">Street Address 1</label>
      <input type="text" class="form-control" id="resStreet1_id" #resStreet1="ngModel" name="resStreet1"
      placeholder="Residential Street address (not P.O. Box)"
      [(ngModel)]="user.resStreetAddress1" required>
      <!-- Error Handling -->
      <div *ngIf="resStreet1.errors && (resStreet1.dirty || resStreet1.touched)" class="alert alert-danger">
       <div [hidden]="!resStreet1.errors.required">
         Residential Street Address is required!
       </div>
     </div>
    </div>

    <div class="form-group"> <!-- Residence Street 2 -->
      <label for="resStreet2_id" class="control-label">Street Address 2</label>
      <input type="text" class="form-control" id="resStreet2_id" name="resStreet2"
      placeholder="Apartment, suite, unit, building, floor, etc."
      [(ngModel)]="user.resStreetAddress2">
    </div>

    <div class="res-state row">
      <div class="form-group col-lg-4"> <!-- Residence City-->
        <label for="resCity_id" class="control-label">City</label>
        <input type="text" class="form-control" id="resCity_id" #resCity="ngModel" name="resCity"
        placeholder="Smallville" [(ngModel)]="user.resCity" required>
        <!--Error Handling -->
        <div *ngIf="resCity.errors && (resCity.dirty || resCity.touched)" class="alert alert-danger">
         <div [hidden]="!resCity.errors.required">
           City is required!
         </div>
       </div>
      </div>

      <div class="form-group col-lg-3"> <!-- Res County-->
        <label for="county_id" class="control-label">County</label>
        <input type="text" class="form-control" id="county_id" #resCounty="ngModel" name="county"
        placeholder="Lincoln" [(ngModel)]="user.resCounty" required>
        <!--Error Handling -->
        <div *ngIf="resCounty.errors && (resCounty.dirty || resCounty.touched)" class="alert alert-danger">
         <div [hidden]="!resCounty.errors.required">
           County is required!
         </div>
       </div>
      </div>

      <div class="form-group col-lg-3"> <!-- Residence State Button -->
        <label for="resState_id" class="control-label">State</label>
        <select class="form-control" id="resState_id" name="resState" #resState="ngModel"
         [(ngModel)]="user.resState" required>
          <!-- TODO Add as an object and use ngFOR to create -->
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District Of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select>
        <!--Error Handling -->
        <div *ngIf="resState.errors && (resState.dirty || resState.touched)" class="alert alert-danger">
         <div [hidden]="!resState.errors.required">
           State is required!
         </div>
       </div>
      </div>

      <div class="form-group col-lg-2"> <!-- Res Zip Code-->
        <label for="resZip_id" class="control-label">Zip Code</label>
        <input type="text" class="form-control" id="resZip_id" #resZip="ngModel" name="resZip"
        placeholder="#####" [(ngModel)]="user.resZip" required minlength="5" maxlength="5"
        (keypress)="numbersOnly($event)">
      </div>
      <!-- Error Handling -->
      <div *ngIf="resZip.errors && (resZip.dirty || resZip.touched)" class="alert alert-danger">
       <div [hidden]="!resZip.errors.required">
         Zip code is required!
       </div>
       <div [hidden]="!resZip.errors.minlength">
         Zip code must be 5 characters long.
       </div>
      </div>
    </div>

    <h5 class="divider">4. Mailing Information</h5>
    <div class="form-group"> <!-- Mailing Street 1 -->
      <label for="mailStreet1_id" class="control-label">Street Address 1</label>
      <input type="text" class="form-control" id="mailStreet1_id" #mailStreet="ngModel" name="mailStreet1"
      placeholder="Mailing Street address or P.O. Box" [(ngModel)]="user.mailStreetAddress1" required>
      <!-- Error Handling -->
      <div *ngIf="mailStreet.errors && (mailStreet.dirty || mailStreet.touched)" class="alert alert-danger">
       <div [hidden]="!mailStreet.errors.required">
         Mailing Street Address is required!
       </div>
     </div>
    </div>

    <div class="form-group"> <!-- Mailing Street 2 -->
      <label for="street2_id" class="control-label">Street Address 2</label>
      <input type="text" class="form-control" id="street2_id" name="street2"
      placeholder="Apartment, suite, unit, building, floor, etc."
      [(ngModel)]="user.mailStreetAddress2">
    </div>

    <div class="mail-state row">
      <div class="form-group col-lg-6"> <!-- Mailing City-->
        <label for="mailCity_id" class="control-label">City</label>
        <input type="text" class="form-control" id="mailCity_id" name="mailCity"
        placeholder="Gotham" [(ngModel)]="user.mailCity" required>
      </div>

      <div class="form-group col-lg-4"> <!-- Mailing State Button -->
        <label for="mailState_id" class="control-label">State</label>
        <select class="form-control" id="mailState_id" name="mailState" #mailState="ngModel"
        [(ngModel)]="user.mailState" required>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District Of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select>
        <!--Error Handling -->
        <div *ngIf="mailState.errors && (mailState.dirty || mailState.touched)" class="alert alert-danger">
         <div [hidden]="!mailState.errors.required">
           State is required!
         </div>
       </div>
      </div>

      <div class="form-group col-lg-2"> <!-- Mail Zip Code-->
        <label for="mailZip_id" class="control-label">Zip Code</label>
        <input type="text" class="form-control" id="mailZip_id" #mailZip="ngModel" name="mailZip"
        placeholder="#####" [(ngModel)]="user.mailZip" (keypress)="numbersOnly($event)" required>
      </div>
      <!-- Error Validation -->
      <div *ngIf="mailZip.errors && (mailZip.dirty || mailZip.touched)" class="alert alert-danger">
       <div [hidden]="!mailZip.errors.required">
         Zip code is required!
       </div>
       <div [hidden]="!mailZip.errors.minlength">
         Zip code must be 5 characters long.
       </div>
      </div>
    </div>

    <h5 class="divider">5. Identification</h5>
    <div class="identification row">
      <div class="form-group col-lg-6"> <!-- SSN-->
        <label for="SSN_id" class="control-label">Social Security #</label>
        <input type="text" class="form-control" id="SSN_id" #ssn="ngModel" name="SSN"
        placeholder="123456789" [(ngModel)]="user.ssn" (keypress)="numbersOnly($event)"
        required minlength="9" maxlength="9">
        <!-- Error Validation -->
        <div *ngIf="ssn.errors && (ssn.dirty || ssn.touched)" class="alert alert-danger">
         <div [hidden]="!ssn.errors.required">
           SSN is required!
         </div>
         <div [hidden]="!ssn.errors.minlength">
           SSN must be 9 characters long.
         </div>
        </div>
      </div>

      <div class="form-group col-lg-6"> <!-- Driver Lic Num-->
        <label for="driverL_id" class="control-label">Drivers License #</label>
        <input type="text" class="form-control" id="driverL_id" name="driverL" placeholder="D12345678"
        [(ngModel)]="user.driversLicense">
      </div>
    </div>

    <div class="documentation row">
      <div class="form-group col-lg-4"> <!-- Documentation Selection Button -->
        <label for="docSelection_id" class="control-label">Citizenship Documentation Type</label>
        <select class="form-control" id="docSelection_id" name="citizenshipDocType"
        [(ngModel)]="user.citizenshipDocType" required>
          <option value="PP">Passport</option>
          <option value="BC">Birth Certificate</option>
          <option value="NA">Naturalization Certificate</option>
          <option value="CC">Certificate of Citizenship</option>
        </select>
      </div>


      <div class="documentation-upload col-lg-8">
        <label for="citizenshipDocument" class="control-label">Upload Documentation</label><br/>
        <div class="input-group doc-upload">
          <!-- <span class="btn btn-primary">
              Browse&hellip; <input id="my-file-selector" class="browse" type="file" style="display:none;" onchange="handleDocSubmit($event)">
          </span> -->
          <file-upload [showFileNameInput]="true" allowedTypes="image/*"
                      uploadButtonText="Upload File" [(ngModel)]="base64String"
                      name="citizenshipDocument" id="citizenshipDocument" ngDefaultControl>
          </file-upload>
        </div>
      </div>
    </div>


    <h5 class="divider">6. Biometrics</h5>
    <div class="biometrics row">
      <p class="form-text">Due to the nature of Online Voting, biometrics is required as a second source of authentication. Your fingerprints will be stored in a encrypted and secure location. Please click the button to begin.</p>
      <div class="form-group col-lg-7"> <!-- Biometrics Button -->
        <label for="biometrics" class="control-label biometrics-label">Begin Biometrics Upload</label>
        <button type="button" id="biometricsDocument" class="btn btn-primary" (click)="open()">Begin Upload...
        </button>
      </div>
    </div>

    <h5 class="divider">7. Political Information</h5>
    <div class="political row">
      <div class="form-group col-lg-4"> <!-- Political Button -->
        <label for="politicalAff_id" class="control-label">Political Party</label>
        <select class="form-control" id="politicalAff_id" name="politicalParty" #politicalParty="ngModel" [(ngModel)]="user.politicalParty" required>
          <option value="DM">Democratic</option>
          <option value="RP">Republican</option>
          <option value="CS">Conservative</option>
          <option value="GN">Green</option>
          <option value="WF">Working Families</option>
          <option value="IN">Independents</option>
          <option value="WE">Women's Equality</option>
          <option value="RE">Reform</option>
          <option value="OT">Other</option>
          <option value="NP">No Party</option>
        </select>
        <!--Error Handling -->
        <div *ngIf="politicalParty.errors && (politicalParty.dirty || politicalParty.touched)" class="alert alert-danger">
         <div [hidden]="!politicalParty.errors.required">
           Political Party is required!
         </div>
       </div>
      </div>

      <div class="form-group col-lg-2"> <!-- Voter Status Button -->
        <label for="voterStatus_id" class="control-label">Voter Status</label>
        <select class="form-control" id="voterStatus_id" name="voterStatus" #voterStatus="ngModel"
         [(ngModel)]="user.voterStatus" required>
          <option value="AC">Active</option>
          <option value="IA">Inactive</option>
        </select>
        <!--Error Handling -->
        <div *ngIf="voterStatus.errors && (voterStatus.dirty || voterStatus.touched)" class="alert alert-danger">
         <div [hidden]="!voterStatus.errors.required">
           Voter Status is required!
         </div>
       </div>
      </div>

      <div class="form-group col-lg-4"> <!-- Absentee Status Button -->
        <label for="absenteeStatus_id" class="control-label">Apply for Absentee Ballot?</label>
        <select class="form-control" id="absenteeStatus_id" name="absenteeApply" #absentee="ngModel" [(ngModel)]="user.absenteeApply" required>
          <option value="YS">Yes</option>
          <option value="NO">No</option>
        </select>
        <!--Error Handling -->
        <div *ngIf="absentee.errors && (absentee.dirty || absentee.touched)" class="alert alert-danger">
         <div [hidden]="!absentee.errors.required">
           Absentee Status is required!
         </div>
       </div>
      </div>
    </div>

    <div class="form-group"> <!-- Submit Button -->
      <button type="submit" class="btn btn-primary">Submit Registration</button>
    </div>

  </form>
</div>
