.form-container {
  width: 60%;
  margin-right: 75px;
}

.control-label {
  color: #b75463;
}

.form-control::-webkit-input-placeholder {
  color: #999;
  opacity: .3;
}

.register-icon {
  width: 200px;
}

.register-container {
  padding-left: 30px;
}

h2 {
  font-family: 'Domine', serif;
  color: #35507a;
}

h5.divider {
  background-color: #35507a;
  opacity: .8;
  font-size: 16px;
  color: #fff;
  margin: 3px 0;
  padding: 8px;
}

p.form-text {
  padding: 0 15px;
}

.biometrics-label {
  padding-right: 10px;
}

.doc-upload {
  margin: 10px;
}

#upload-file-info {
  margin-left: 10px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

/********************************/
/* File Upload */
.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.upload-file {
    &.form-control {
        width: auto;
        display: inherit;
    }
}
